<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Lemons</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Handlee&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="leftNav">
                <li>
                    <a class='logo' href="/home">Get Lemons</a>
                </li>
            </ul>
            <ul class="rightNav">
                <li>
                    <a href="/recipes">Recipes</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Edit Recipe</h1>

    <div id="list">
        <h3><%=recipe.name%></h3>

        <form action="/recipes/edit/addItem" method='POST'>
            <input type="text" placeholder="Item Name" name='groceryItem'>
            <input type="text" placeholder="Quantity" name='quantity'>
            <input type="text" placeholder="Category" name='category'>
            <input type="hidden" name="recipe" value="<%=recipe._id%>">
            <input type="submit">
        </form>

        <ul>
            <% groceries.forEach(el => { %>
                <li>
                    <span><%= el.quantity %></span>
                    <span><%= el.item %></span>
                    <span class='del'> Remove </span> 
                    <!-- Need to add an actual delete here, as the active put request from the home list won't work since we are pulling active or inactive. Deleting from here would delete from an active list though, so need to consider that.-->
                </li>
            <% }) %>
        </ul>
    </div>

    
 
    <script src="js/main.js"></script>
</body>
</html>