<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Lemons</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Get Lemons</a>
            </li>
        </ul>
    </nav>

    <h1>Get Lemons</h1>
    <h2>Welcome, <%= user.userName %>!</h2>


    <script src="public/main.js"></script>
</body>
</html>