.completed {
    text-decoration: line-through;
}

/* Standard Styles */

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;  
}

html, body {
    height: 100%;
}

nav * {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: cornflowerblue;
}

/* Navigation */

nav {
    width: 100%;
    margin: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: #fde16c;
    border-bottom: 3px solid cornflowerblue;
}

.leftNav {
    width: 50%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

ul.leftNav > li {
    padding-left: 2rem;
}

.rightNav {
    width: 50%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ul.rightNav > li {
    padding-right: 2rem;
}

.material-symbols-outlined {
  
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: cornflowerblue;
  font-size: 1.5rem;
}


/* Main - Index */

.indexMain {
    background-image: url('../images/indexLemons.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    width: 100%;
    
    
}

.hero {
    display: flex;
    width: 30%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero > h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
    color: cornflowerblue;
    padding: 1rem;
}

.hero > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: cornflowerblue;
    padding: 1rem;
}

/* Login/SignUp */

.loginSignUp {
    background-color: #fde16c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.title * {
    font-size: 5rem;
    color: cornflowerblue;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 30%;
    border: 3px solid cornflowerblue;
}

.loginForm > .alert-danger {
    color: cornflowerblue;
    font-size: 1.2rem;
}

.loginForm > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginForm > form > .textbox {
    width: 50%;
    height: 2.5rem;
    margin: 1rem;
    color: black;
    font-size: 1.2rem;
}

.loginForm > form > .submit {
    width: 40%;
    height: 2.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: cornflowerblue;
    color: #fde16c;
    border: 1px solid grey;
}

.loginForm > form > .submit:hover {
    background-color: rgb(54, 102, 191);
}

.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 30%;
    border: 3px solid cornflowerblue;
}

.signUpForm > .alert-danger {
    color: cornflowerblue;
    font-size: 1.2rem;
}

.signUpForm > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signUpForm > form > .textbox {
    width: 50%;
    height: 2.5rem;
    margin: 1rem;
    color: black;
    font-size: 1.2rem;
}

.signUpForm > form > .submit {
    width: 40%;
    height: 2.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: cornflowerblue;
    color: #fde16c;
    border: 1px solid grey;
}

.signUpForm > form > .submit:hover {
    background-color: rgb(54, 102, 191);
}


/* Groceries/Recipes */

.groceriesRecipes {
    background-color: #fde16c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.grTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 2.5%;
}

.grTitle > h1 {
    color: cornflowerblue;
    font-size: 4rem;
}

.addNew, .myList, .addNewRecipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    margin: 0 2.5%;
}

.addNew {
    width: 30%;
}

.myList {
    width: 60%;
}

.groceriesRecipes h2 {
    color: cornflowerblue;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 3.5%;
}

.groceriesRecipes h3 {
    color: cornflowerblue;
    font-size: 1.7rem;
    margin: 2.5% 0;
    
}

.addNew > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.addNew form, .addNewRecipe form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

#newGroceryList {
    align-self: flex-start;
}

.addNew .textbox, .addNewRecipe .textbox {
    width: 35%;
    height: 2rem;
    margin: 1%;
    color: black;
    font-size: 1.2rem;
}

.addNew .submit, #newGroceryList, .addNewRecipe .submit {
    width: 35%;
    height: 2rem;
    margin: 1%;
    font-size: 1.2rem;
    background-color: cornflowerblue;
    color: #fde16c;
    border: 1px solid grey;
}

.addNew .submit:hover, #newGroceryList:hover, .addNewRecipe .submit:hover {
    background-color: rgb(54, 102, 191);
}

.addNew .dropdown {
    width: 35%;
    height: 2rem;
    margin: 1%;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    font-size: 1.2rem;
}

.addNew option {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.mylist .categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.foodCategory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    font-size: 1.7rem;
    color: cornflowerblue;
    
}

.groceryItem {
    font-size: 1.2rem;
    margin: 0.3rem;
    text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: cornflowerblue;

}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.addNewRecipe {
    width: 20%;
}

.myRecipes {
    width: 70%;
}

.myRecipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 2.5%;
}

.myRecipes h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    margin: 2.5%;
}

.recipe h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 2.5%;
    color: cornflowerblue;
    font-size: 1.5rem;
    text-decoration: underline;
}

.editRecipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2.5%;
    background-color: cornflowerblue;
    color: #fde16c;
    border: 1px solid grey;
}

.editRecipe:hover {
    background-color: rgb(54, 102, 191);
}

.myRecipes .groceryItem {
    color: cornflowerblue;
}

/* Edit Recipe Page */

.editPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #fde16c;
    height: 100%;
    width: 100%;
}

.editPage h1 {
    color: cornflowerblue;
    font-size: 4rem;
    margin: 1rem;
}

.editPage #list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#list h3 {
    color: cornflowerblue;
    font-size: 2rem;
    text-decoration: underline;
    margin: 1rem;
}

#list form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#list ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

#list ul * {
    color: cornflowerblue;
    font-size: 1.5rem;
}
